@font-face {
  font-family: 'roboto';
  src: url(Roboto-Regular.ttf);
}

* {
  font-family: 'roboto', sans-serif;
}

.intro_img {
  width: 500px;
  height: 230px;
  background-color: gray;
}

.info_img {
  width: 150px;
  height: 150px;
  border: 3px solid #3882F6;
}

.header,
.intro,
.footer {
  background-color: #1F2937;
}

.quote {
  background-color: #E5E7EB;
}

.signup {
  background-color: #3882F6;
}

