@font-face {
  font-family: 'roboto';
  src: url(Roboto-Regular.ttf);
}

* {
  font-family: 'roboto', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.landing_page {
  width: 1475px;
}

.intro_img {
  width: 500px;
  height: 230px;
  background-color: #666668;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_img {
  width: 150px;
  height: 150px;
  border: 3px solid #3882F6;
}

.header,
.intro,
.footer {
  background-color: #1F2937;
}

.header_h,
.intro_h,
.signup_btn_a,
.intro_img,
.signup_h,
.signup_btn_b,
.copyright {
  color: #F9FAF8;
}

.link,
.intro_p {
  color: #E5E7EB;
}

.info_h,
.quote {
  color: #1F2937;
}

.signup_btn_a,
.signup_btn_b,
.signup {
  background-color: #3882F6;
}

.signup_btn_a,
.signup_btn_b {
  font-size: 18px;
  font-weight: bold;
  padding: 6px 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px 0;
}

.header_h{
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.nav_links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.intro {
  display: flex;
  justify-content: space-between;
  padding: 100px 200px;
}

.presentation {
  width: 450px;
}

.intro_h {
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
}

.intro_p {
  font-size: 18px;
}

.signup_btn_a {
  border: none;
}

link {
  text-decoration: none;
}

.quote {
  background-color: #E5E7EB;
}

.signup_btn_b {
  border: 2px solid #E5E7EB;
}